body {
  margin: 0;
  font-family: BeVietNam, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5 !important;
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #bcc0c4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: BeVietNam;
  src: url("./public/fonts/BeVietnam-Regular.ttf");
}

@font-face {
  font-family: BeVietNamLight;
  src: url("./public/fonts/BeVietnam-Light.ttf");
}

@font-face {
  font-family: BeVietNamMedium;
  src: url("./public/fonts/BeVietnam-Medium.ttf");
}

@font-face {
  font-family: Arcade;
  src: url("./public/fonts/ARCADECLASSIC.TTF");
}
