body {
  margin: 0;
  font-family: BeVietNam, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: BeVietNam;
  src: url("./public/fonts/BeVietnam-Regular.ttf");
}

@font-face {
  font-family: BeVietNamLight;
  src: url("./public/fonts/BeVietnam-Light.ttf");
}

@font-face {
  font-family: BeVietNamMedium;
  src: url("./public/fonts/BeVietnam-Medium.ttf");
}
